@page "/"
@using RZA_sly.Components
@using RZA_sly.Utilities
@using RZA_sly.Services
@inject UserSession UserSession
@inject NavigationManager NavigationManager
@inject CustomerService CustomerService

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (UserSession.UserId == 0)
{
    <h1>Welcome to RZA!</h1>
}
else
{
    <h1>Hello @customerName, Welcome back to RZA!</h1>
    <button onclick=@Modify>Modify your account</button>
}

@code {
    private bool dialogShown = false;
    private string customerName;

    private void ShowDialog()
    {
        dialogShown = true;
    }
    private void Modify()
    {
        NavigationManager.NavigateTo("/modify");
    }
    protected override async Task OnInitializedAsync()
    {
        customerName = await CustomerService.GetCustomerNameAsync(UserSession.UserId);
    }
}
