@rendermode InteractiveServer

﻿@if (Opened)
{
    <div class="overlay">
        <div class="dialog">
            <div class="dialog-header">
                <div>
                    <h1>@Title</h1>
                </div>

                <div @onclick="CloseDialog">
                    <div class="close">
                        <i class="bi bi-x-lg"> </i>
                    </div>
                </div>
            </div>

            <div class="dialog-body">
                @BodyContent
            </div>

            <div class="dialog-footer">
                <button class="ok-button" @onclick="CloseDialog">Ok</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? BodyContent { get; set; }
    [Parameter] public RenderFragment? FooterContent { get; set; }
    [Parameter] public bool Opened { get; set; }
    [Parameter] public EventCallback CloseButtonClicked { get; set; }

    private void CloseDialog()
    {
        Opened = false;
        CloseButtonClicked.InvokeAsync();
    }
}